snippet comment "Beautifull comments" 
<!-- ########################################################################### -->
<!-- ###########################  ${0:${VISUAL}}  ############################## -->
<!-- ########################################################################### -->
endsnippet
